<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCvY0xU-uDYVu5Hy-z4okTKh2ySvOp5nNM</string>
	<key>GCM_SENDER_ID</key>
	<string>706802553028</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.todo-app-rn</string>
	<key>PROJECT_ID</key>
	<string>todo-83ddd</string>
	<key>STORAGE_BUCKET</key>
	<string>todo-83ddd.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:706802553028:ios:71d40e5e7c6b0e7bd1f991</string>
</dict>
</plist>